---
BasedOnStyle: Chromium
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'true'
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: 'true'
CompactNamespaces: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
Cpp11BracedListStyle: 'true'
ExperimentalAutoDetectBinPacking: 'true'
FixNamespaceComments: 'true'
TabWidth: '2'
UseTab: ForContinuationAndIndentation
NamespaceIndentation: All
ColumnLimit: '64'
AllowShortIfStatementsOnASingleLine: 'true'
BreakStringLiterals: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
BinPackArguments: 'true'
BinPackParameters: 'true'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
IncludeBlocks: Regroup
AlwaysBreakTemplateDeclarations: MultiLine
AlignAfterOpenBracket: AlwaysBreak
