[submodule "3rdParty/bgfx"]
	path = 3rdParty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rdParty/bx"]
	path = 3rdParty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdParty/bimg"]
	path = 3rdParty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rdParty/uWebSockets"]
	path = 3rdParty/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "3rdParty/uSockets"]
	path = 3rdParty/uSockets
	url = https://github.com/uNetworking/uSockets.git
[submodule "3rdParty/bullet3"]
	path = 3rdParty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "3rdParty/mongo-c-driver"]
	path = 3rdParty/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
[submodule "3rdParty/brtshaderc"]
	path = 3rdParty/brtshaderc
	url = git@github.com:CoryNull/brtshaderc.git
[submodule "examples/myWebProject/3rdParty/bootstrap"]
	path = examples/myWebProject/3rdParty/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "examples/myWebProject/3rdParty/Croppie"]
	path = examples/myWebProject/3rdParty/Croppie
	url = https://github.com/Foliotek/Croppie.git
[submodule "examples/myWebProject/3rdParty/bootstrap-table"]
	path = examples/myWebProject/3rdParty/bootstrap-table
	url = https://github.com/wenzhixin/bootstrap-table.git
[submodule "3rdParty/libuv"]
	path = 3rdParty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rdParty/SDL"]
	path = 3rdParty/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "3rdParty/SDL_image"]
	path = 3rdParty/SDL_image
	url = https://github.com/SDL-mirror/SDL_image.git
[submodule "3rdParty/SDL_ttf"]
	path = 3rdParty/SDL_ttf
	url = https://github.com/SDL-mirror/SDL_ttf.git
[submodule "3rdParty/freetype2"]
	path = 3rdParty/freetype2
	url = https://github.com/aseprite/freetype2.git
[submodule "3rdParty/zlib"]
	path = 3rdParty/zlib
	url = https://github.com/madler/zlib.git
